.header-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5rem;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  border-bottom: 0.01rem solid var(--color-background-dark-mode);
  z-index: 10;
}

.navbar-list-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

.navbar-list-container-mobile-view {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 60rem;

  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  background-color: var(--color-background-light-mode);

  transition: transform 2s;
}

.dark-mode .navbar-list-container-mobile-view {
  background-color: var(--color-background-dark-mode);
}

.navbar-list-container-mobile-view .link {
  display: inline-block;
  margin-top: 3rem;
}

.burger-menu-button {
  display: none;
}

.dark-mode .header-container {
  border-bottom: 0.01rem solid var(--color-background-light-mode);
}

.link {
  padding: 0.5rem 2rem;
}

.link,
.mode-control-button {
  cursor: pointer;
}

.mode-interface-container {
  margin: 0 3rem;
  width: 6rem;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.mode-control-button,
.burger-menu-button {
  background-color: inherit;
}

.mode-control-button:hover,
.mode-control-button:focus {
  color: var(--color-hover);
}

.dark-mode .mode-control-button {
  color: var(--color-primary-dark-mode);
}

.dark-mode .mode-control-button:hover,
.dark-mode .mode-control-button:focus {
  color: var(--color-hover);
}

@media screen and (max-width: 1000px) {
  .link {
    padding: 0.5rem 1rem;
  }
}
@media screen and (max-width: 870px) {
  .navbar-list-container {
    display: none;
  }
  .burger-menu-button {
    display: block;
    margin: 0 3rem;
  }

  .header-container {
    justify-content: space-between;
    padding: 0 1rem;
  }
}
