.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin-top: 2rem;
  border-top: 1px solid var(--color-border-light);
}

.dark-mode .footer {
  border-top-color: var(--color-border-dark);
}
