.experience-section {
  /* padding-top: 7rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-link:hover {
  color: inherit;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: var(--color-primary-light-mode);
}

.dark-mode .hover-underline-animation {
  color: var(--color-primary-dark-mode);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-primary-light-mode);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.dark-mode .hover-underline-animation:after {
  background-color: var(--color-primary-dark-mode);
}

.card-link:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.experience-card {
  display: flex;
  margin: 3rem auto;
  max-width: 60rem;
  height: 15rem;
}

.card-image-container {
  margin: auto;
  margin-left: 2rem;
}

.card-description-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 2rem 2rem;
}

.card-image {
  display: block;
  width: 15rem;
  height: 10rem;
  object-fit: cover;
}

.card-title {
  margin: 0 1rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-weight: 300;
}

.card-description {
  font-weight: 300;
}

@media screen and (max-width: 980px) {
  .experience-card {
    max-width: 40rem;
  }

  .card-description-container {
    margin: 1rem 1rem;
  }

  .card-image {
    display: block;
    width: 15rem;
    height: 10rem;
    object-fit: cover;
  }

  .card-title {
    margin: 1rem 2rem;
    letter-spacing: 0.2rem;
  }

  .card-description {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 660px) {
  .experience-card {
    max-width: 28rem;
  }

  .card-image {
    width: 10rem;
    height: 7rem;
  }

  .card-title {
    margin: 0.5rem 1rem;
    font-size: 1rem;
  }

  .card-description {
    margin: 0 1rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .experience-card {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    max-width: 22rem;
    height: 22rem;
  }
  .card-image-container {
    margin: auto;
    margin-top: 2rem;
  }
  .card-image {
    width: 15rem;
    height: 8rem;
  }
}
